body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
	display: flex;
	background-color: #025a75;
	height: 4rem;
	justify-content: center;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav a {
	padding: 1rem;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}
.capture-form {
	background-color: #e1e1e1;
	border: 1px solid #cccccc;
	width: 80%;
	margin: 1rem auto;
	border-radius: 10px;
	padding: 1rem;
}
div.control {
	display: flex;
	padding: 8px;
	justify-content: center;
}

.control label {
	flex-basis: 8rem;
	text-align: right;
	margin-right: 1rem;
}
.control input,
.control select {
	flex-basis: 20rem;
	padding: 5px;
}
#btn-save {
	padding: 1rem;
	background-color: #025a75;
	color: white;
	border: none;
	border-radius: 5px;
}
